#te-pruce {
    display: block;
}

table > * > :is(td, th),
table > * > * > :is(td, th) {
    border: 1px solid;
}

table > * > :is(td:empty, th:empty),
table > * > * > :is(td:empty, th:empty),
.unassigned {
    background-color: #DDD;
}

.experimental {
    background-color: #FF4;
}

.swatch {
    width: 1em;
    height: 1em;
    border: 1px solid black;
    display: inline-block;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

.rafste > * > td::before,
.rafste > * > * > td::before {
    content: "-" attr(data-rafsi) "-";
    font-style: italic;
    display: block;
}